html {
  background-color: #2e4bb1;
  /* background-color: #3453c4; */
  /* background-color: #e2e2e2; */
  /* background-color: #e51d23; */
  /* background-color: #f9b612; */
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.loginContainer {
  padding: 20px;
}

.loginPaper {
  padding: 20px;
}

.loginHeader {
  color: #e2e2e2;
}

.loading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profile {
  margin-top: 15px;
  max-width: 600px;
  min-width: min-content;
  padding: 10px;
}

.adminUpdate {
  max-width: 600px;
  min-width: min-content;
  padding: 10px;
}

.adminNew {
  max-width: 600px;
  min-width: min-content;
  padding: 10px;
}

.empTable {
  max-width: max-content;
}

.editAlert {
  margin-bottom: 10px;
}

.footer {
  color: rgba(0, 0, 0, 0.25);
  position: relative;
  margin-top: min(15px);
  width: max-content;
  left: 50%;
  height: 20px;
  text-align: center;
  bottom: 5px;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

@media (max-height: 400px){
  .footer {
    visibility: hidden;
  }
}